<div class="container mt-4">
<div class="d-flex justify-content-between mb-5">

  <p class="name">Welcome, {{userName}}</p>
  <button class="btn btn-danger" (click)="logout()">Logout</button>
</div>
  <div class="col-lg-12">
    <div class="d-flex">
      <input type="text" class="form-control mb-3" placeholder="Search anything here..." [(ngModel)]="searchText"
        (input)="applyFilter()" /> <button class="btn btn-secondary" (click)="clearSearch()">clear</button>
    </div>
  </div>
  <div class="row">
    <div class="col" appDropZone [zone]="0" (dropped)="onDrop($event)">
      <h1 class="title">Open</h1>
      <div *ngFor="let task of filterTasksByStatus('Open')">
        <app-task [task]="task" (update)="updateTask($event)" (delete)="deleteTask($event)"></app-task>
      </div>
    </div>

    <div class="col" appDropZone [zone]="1" (dropped)="onDrop($event)">
      <h2 class="title">Pending</h2>
      <div *ngFor="let task of filterTasksByStatus('Pending')">
        <app-task [task]="task" (update)="updateTask($event)" (delete)="deleteTask($event)"></app-task>
      </div>
    </div>

    <div class="col" appDropZone [zone]="2" (dropped)="onDrop($event)">
      <h2 class="title">In Progress</h2>
      <div *ngFor="let task of filterTasksByStatus('In Progress')">
        <app-task [task]="task" (update)="updateTask($event)" (delete)="deleteTask($event)"></app-task>
      </div>
    </div>

    <div class="col" appDropZone [zone]="3" (dropped)="onDrop($event)">
      <h2 class="title">Completed</h2>
      <div *ngFor="let task of filterTasksByStatus('Completed')">
        <app-task [task]="task" (update)="updateTask($event)" (delete)="deleteTask($event)"></app-task>
      </div>
    </div>
  </div>
</div>


